INSTANCE_NAME=${INSTANCE_NAME}
LOCAL_TIMEZONE=${LOCAL_TIMEZONE}

GCP_PROJECT_ID=${GCP_PROJECT_ID}
GCP_REGION=${GCP_REGION}
GCP_SERVICE_ACCOUNT_NAME=${GCP_SERVICE_ACCOUNT_NAME}

GH_ORG_NAME=${GH_ORG_NAME}

DAGSTER_CLOUD_INSTANCE=${DAGSTER_CLOUD_INSTANCE}
DAGSTER_CLOUD_AGENT_TOKEN=${DAGSTER_CLOUD_AGENT_TOKEN}

POWERSCHOOL_HOST=${POWERSCHOOL_HOST}
POWERSCHOOL_CLIENT_ID=${POWERSCHOOL_CLIENT_ID}
POWERSCHOOL_CLIENT_SECRET=${POWERSCHOOL_CLIENT_SECRET}
POWERSCHOOL_YEAR_ID=${POWERSCHOOL_YEAR_ID}

IMAGE_NAME=teamster-${INSTANCE_NAME}
IMAGE_URI=${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT_ID}/teamster-${INSTANCE_NAME}/teamster-${INSTANCE_NAME}:latest
GCP_SERVICE_ACCOUNT=${GCP_SERVICE_ACCOUNT_NAME}@${GCP_PROJECT_ID}.iam.gserviceaccount.com

DAGSTER_CLOUD_DEPLOYMENT=stg
GOOGLE_APPLICATION_CREDENTIALS=${GOOGLE_APPLICATION_CREDENTIALS}
